Xiexe's Unity Shaders/Textures/Shadow Ramps/Generated/Personal
Xiexe's Unity Shaders/Textures/Shadow Ramps/Generated/Personal.meta

Xiexe's Unity Shaders/Main/XSToonCutout.shader.meta
Xiexe's Unity Shaders/Main/XSToonCutoutAlphaToMask.shader.meta
Xiexe's Unity Shaders/Main/XSToonCutoutOutlined.shader.meta
Xiexe's Unity Shaders/Main/XSToonFade.shader.meta
Xiexe's Unity Shaders/Main/XSToonTransparent.shader.meta
Xiexe's Unity Shaders/Main/XSToonTransparentDithered.shader.meta
